name: CI/CD Pipeline for Juice Shop

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Pull Docker Image
        run: docker pull bkimminich/juice-shop

      - name: Run Juice Shop
        run: docker run -d -p 3000:3000 bkimminich/juice-shop

#CodeQL Analysis 

  codeql:
    name: Static Application Security Testing (SAST)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: javascript  

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

#Snyk Analysis : SCA with Snyk

  snyk:
    name: Software Composition Analysis (SCA)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Snyk to check dependencies
        uses: snyk/actions/scan@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}




